.tbl_registration_form{  
	background:#fff;  
	margin-top:20px;
	padding-bottom:15px; 
}







































 .style2
        {
            width: 265px;
        }
        .style4
        {
            width: 133px;
            font-size: x-large;
        }
        .style6
        {
            font-size: x-large;
        }
        .style7
        {
            font-size: x-large;
        }
        .style8
        {
            font-size: x-large;
            width: 252px;
        }
        .style9
        {
			font-size: x-small;
			width: 540px;
			text-align: left;
        }
    .small {
	font-size: x-small;
}
    #format_tilte {
	font-weight: bold;
	font-size: 15px;
}
    #small {
	font-size: small;
}
    small {
	font-size: small;
}
    #small {
	font-size: x-small;
}
    .small {
	font-size: x-small;

}
 
    #ru {
	text-align: center;
	padding-top:-20px;
}
#logo{
	padding-top:-50px;
}
    .style9 {
	font-size: small;
}
   
    .attention_tag {
	font-size: 11px;
	font-weight: bold;
}
    #small {
	font-size: x-small;
}
#continue{
	text-align:left;
	padding-left:300px;
}
    #small {
	font-size: x-small;
}
    small {
	font-size: x-small;
}
    .style7 #ru #ru_university {
	font-size: 26px;
}
#national{
	padding-left:80px;
}

#format_tilte {
	font-size: 15px;
}
#small {
	font-size: x-small;
}
#form1 table tr td {
	font-size: 12px;
}
#declaration {
	font-size: 14px;
	font-style: italic;
	text-decoration: underline;
	padding-left: 0px;
	font-family: "Times New Roman", Times, serif;
}
#rules {
	font-size: small;
}
#notice {
	font-size: x-small;
}
table tr td p {
	vertical-align: baseline;
}